{erl_opts, [{i, "src"},
            warnings_as_errors,
            warn_export_all,
            warn_unused_import]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.

{cover_enabled, true}.

{eunit_opts, [no_tty, {report, {eunit_progress, [colored, profile]}}]}.

{clean_files, [".test/*.beam", ".eunit/*", "ebin/*.beam"]}.

{validate_app_modules, true}.

{deps,
  [
   %% public
   {cowboy,
    ".*", {git, "git://github.com/ninenines/cowboy", "90ae31998e8d0887b9efe4b441136ac047708bb9"}},

   {jsone,
    ".*", {git, "git://github.com/sile/jsone", {tag, "v0.3.1"}}},

   {jesse,
    ".*", {git, "git://github.com/klarna/jesse", {tag, "1.1.5"}}},

   {erlydtl,
    ".*", {git, "git://github.com/erlydtl/erlydtl", "dcb3762cb985876deb5938985092bf84dc3db40c"}},

   %% test
   {eunit_formatters,
    ".*", {git, "git://github.com/seancribbs/eunit_formatters", "2c73eb6e46b0863f19507857b386a48a53aaf141"}},

   {hackney,
    ".*", {git, "git://github.com/benoitc/hackney", {tag, "1.0.6"}}},

   %% debug
   {eper,
    ".*", {git, "git://github.com/massemanet/eper", {tag, "0.90.0"}}}
  ]
}.
