{erl_opts, [{i, "src"},
            warnings_as_errors,
            warn_export_all,
            warn_unused_import]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.

{cover_enabled, true}.

{eunit_opts, [no_tty, {report, {eunit_progress, [colored, profile]}}]}.

{validate_app_modules, true}.

{deps,
  [
   {cowboy,
    {git, "git://github.com/ninenines/cowboy", {tag, "2.0.0-pre.3"}}},

   {jsone,
    {git, "git://github.com/sile/jsone", {tag, "1.2.1"}}},

   {jesse,
    {git, "git://github.com/for-GET/jesse", {tag, "1.3.0"}}}
  ]
}.

{profiles,
 [{test,
   [{deps,
     [eunit_formatters, hackney]}]}]}.
