{minimum_otp_vsn, "26.0"}.

{erl_opts, [{i, "src"},
            warnings_as_errors,
            warn_export_all,
            warn_unused_import]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.

{dialyzer, [{warnings, [extra_return,
                        missing_return,
                        no_unknown,
                        unmatched_returns,
                        %% overspecs,
                        %% underspecs,
                        %% specdiffs,
                        error_handling]},
            incremental,
            {plt_apps, top_level_deps},
            %% {plt_apps, all_apps},
            {plt_location, local},
            {base_plt_location, global}]}.
%%            {plt_extra_apps, [cowboy, jsone, hackney, jesse]}]}.

{cover_enabled, true}.

{validate_app_modules, true}.

{project_plugins, [rebar3_efmt, rebar3_lint]}.
{elvis_output_format, colors}.

{plugins, [rebar3_hex]}.

{deps,
 [{cowboy, "2.10.0"},
  {gun, "2.0.1"},
  %% {gun, {git, "https://github.com/ninenines/gun.git", {ref, "48eefeb"}}},
  {jsone, "1.8.0"},
  {jesse, "2023.1.1", {pkg, shiguredo_jesse}}]}.

{profiles,
 [{test,
   [{plugins, [rebar3_proper]},
    {deps, [{hackney, "1.18.1"},
            {proper,
             {git, "https://github.com/proper-testing/proper", {branch, "master"}}}]}]}]}.
