name: make-github-workflow

on:
  push:
    paths-ignore:
    - 'doc/**'
    - '**.rst'
  pull_request:

jobs:
  make-github:
    runs-on: ubuntu-latest
    container:
      image: shiguredo/erlang:otp-24.0-rc2-ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - run: make github
