name: make-github-workflow

on:
  push:
    paths-ignore:
    - 'doc/**'
    - '**.rst'
  pull_request:

jobs:
  make-github:
    runs-on: ubuntu-latest
    container:
      image: shiguredo/erlang:otp-25.0.1-openssl-3.0.3-ubuntu-22.04
    env:
      ERL_FLAGS: -enable-feature maybe_expr
    steps:
      - uses: actions/checkout@v3
      - run: make github
      - name: Slack Notification
        if: failure()
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: ${{ secrets.SLACK_INTERNAL_CHANNEL }}
          SLACK_COLOR: danger
          SLACK_TITLE: Failure test
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
