{erl_opts, [{i, "src"},
            {parse_transform, lager_transform},
            warnings_as_errors,
            warn_export_all,
            warn_unused_import]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.

{cover_enabled, true}.

{eunit_opts, [no_tty, {report, {eunit_progress, [colored, profile]}}]}.

{clean_files, [".test/*.beam", ".eunit/*", "ebin/*.beam"]}.

{validate_app_modules, true}.

{plugins, [rebar_swidden_plugin]}.

{deps,
 [
  %% public
  {swidden,
   ".*",
   {git, "git://github.com/shiguredo/swidden", {branch, "develop"}}},

  %% test
  {meck,
   ".*",
   {git, "git://github.com/eproxus/meck", {tag, "0.8.2"}}},

  {hackney,
   ".*",
   {git, "git://github.com/benoitc/hackney", {tag, "0.14.3"}}},

  %% debug
  {eper,
   ".*",
   {git, "git://github.com/massemanet/eper", {tag, "0.90.0"}}},

  {reloader,
   ".*",
   {git, "git://github.com/mykook/reloader", {branch, "master"}}}]}.
