%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-

{release, {spam, "0.1.0"},
 [sasl,
  jsonx,
  swidden,
  ranch,
  cowboy,
  jesse,
  reloader,
  {spam, permanent}]}.

{include_erts, false}.
{include_src, false}.

{output_dir, "dev"}.

{generate_start_script, true}.

{dev_mode, true}.
